
.active{
    width:200px;
    -webkit-transition: width 1s; /* Safari 3.1 to 6.0 */
    transition: width 1s;
}
input{
    width:120px;
    -webkit-transition: width 1s; /* Safari 3.1 to 6.0 */
    transition: width 1s;
}

.profile{
    float: left;
   /*  border-bottom: 1px solid #ccc;
    min-width: 100%;
    -webkit-box-shadow: 1px 2px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 18px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.75);
    margin: 2%;
    background-color: #f2f2f2;
   height: 90px;*/
   background-color: #f2f2f2;
    
}
.green{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    border: 1px inset#4c86af;
    padding: 8px;
    color: #040752;
    font-size: 14px;
    transition: all 0.3 ease;
    float: left;
   /* background-image: url(https://cdn2.iconfinder.com/data/icons/picons-basic-3/57/basic3-101_visibility_view_eye-128.png);
    background-size: 42px 42px;
    background-repeat: no-repeat;*/
}

.red{
   font-family: "Roboto", sans-serif;
   text-transform: uppercase;
   outline: 0;
   border: 1px inset #247D40;
   padding: 8px;
   color: #5E0606;
   font-size: 14px;
   transition: all 0.3 ease;
  /* background-image: url(https://cdn1.iconfinder.com/data/icons/twitter-ui-glyph/48/Sed-25-128.png);
   background-size: 42px 42px;
   background-repeat: no-repeat;*/
}
.welcome {
    height: 40px;
    padding: 10px;
    background: #d55700;
    color: white;
    box-shadow: 5px 5px 5px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
}

.welcome[_ngcontent-c2] .name[_ngcontent-c2] {
    font-size: 22px;
    padding-top: 15px;
    padding-left: 25px;
    width: 30%;
}

.logoutButton {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
 /*  background: #4c86af;*/
    border: 0;
   /* padding: 15px;*/
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    float: right;
}

.home input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    margin: 0 0 15px;
    padding: 10px;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 14px;
    background-image: url(https://cdn2.iconfinder.com/data/icons/ikooni-generic-symbols/128/maybe-50-128.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 3px;
}

    input[placeholder] { text-overflow: ellipsis; }
    ::-moz-placeholder { text-overflow: ellipsis; } /* firefox 19+ */
    input:-moz-placeholder { text-overflow: ellipsis; }
  

  button.button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    /*background: #989525;*/
    border: 1px inset #989525;
    padding: 8px;
    color: #161414;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .welcome .name {
    font-size: 22px;
}
.name {
    width: 45%;
    float: left;
}

.userinfo {
    margin-left: 20px;
}
.actions {
    width: 25%;
    float: left;
    min-width: 25%;
}
.profile {
   /* width: 100%;*/
    float: left;
   /* min-width: 100%;*/
   margin-top: 30px;
   margin-left: 30px;
}

.profiles {
    padding: 2%;
    width: 56%;
    min-width: 56%;
}

.img-button{
    width: 33px;
    height: 30px;
    margin-left: 0%;
    margin-bottom: 6px;
}








/*/////////////////////////////////////*/
.background {
   /* position: absolute;*/
    height: 100%;
    width: 100%;
    background-image: url(https://s2.postimg.org/tzymg4j15/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-filter: blur(30px);
    filter: blur(30px);
}

.card {
    /* position: absolute;*/
    height: 120px;
    width: 280px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 40px -10px black;
    overflow: hidden;
}

.card-blur {
    /* position: absolute;*/
    height: 100%;
    width: calc(100% + 1px);
    background-color: black;
    opacity: 0;
    transition: opacity 0.15s ease-in;
}

.card:hover .card-blur {
    opacity: 0.6;
}

.footer {
    z-index: 1;
    /* position: absolute;*/
    height: 80px;
    width: 100%;
    bottom: 0;
}

svg#curve {
    /* position: absolute;*/
    fill: white;
    left: 0;
    bottom: 0;
    width: 400px;
    height: 450px;
}

.connections {
    height: 80px;
    width: 280pxpx;
   /* position: absolute;*/
    left: 0;
    right: 0;
    bottom: 100px;
    margin: auto;
}


.connection {
    display: inline-block;
    padding: 5px;
    margin-right: 25px;
    transform: translateY(200px);
    
    transition: transform 1s cubic-bezier(.46, 1.48, .18, .81);
}

.card:hover .connection {
    transform: translateY(0px);
}

.connection.facebook {
    margin-left: 20px;
    padding: 5px;
}

.connection.twitter {
    transition-delay: 0.02s;
}

.connection.behance {
    transition-delay: 0.04s;
}

.connection.facebook .icon {
    height: 18px;
    width: 18px;
    margin-top: 4px;
    margin-left: 4px;
    background-image: url(https://s17.postimg.org/sial0g69n/image.png);
    background-position: center;
    background-size: cover;
}

.connection.twitter .icon {
    height: 100%;
    width: 100%;
    background-image: url(https://s15.postimg.org/52t96zfyv/twitter.png);
    background-position: center;
    background-size: cover;
}

.connection.behance .icon {
    height: 100%;
    width: 100%;
    background-image: url(https://s27.postimg.org/vxbjv87e7/behance.png);
    background-position: center;
    background-size: cover;
}

.info {
	font-family: Inconsolata;
    padding-left: 20px;
    transform: translateY(250px);

    transition: transform 1s cubic-bezier(.31,1.21,.64,1.02);
}

.card:hover .info {
    transform: translateY(0px);
}

.name {
    font-weight: bolder;
    padding-top: 5px;
}

.job {
    margin-top: 10px;
}
.i{
    float: right !important;
    margin-right: 25px;
}

.userinfo div {
    float: left;
}

.userinfo .name {
    width:100%;
}
span.job {
    padding-left: 34%;
        color: #989696;
}

.age {
    width: 100%;
    padding-top: 5px;
}

.desc {
    width: 100%;
    padding-top: 5px;
}