<div *ngIf=profile>
  <div class=prof>
    <img src="https://cdn4.iconfinder.com/data/icons/mayssam/512/user-128.png" alt="Smiley face"
      height="42" width="42">
      <h2>{{ profile.name }}</h2>
  </div>
  <ul *ngIf="publications">
    <li *ngFor="let publication of publications">
      <h2>{{publication.title}}</h2>
      <p>{{publication.content}}</p>
      <img  height="42" width="42" src='https://cdn4.iconfinder.com/data/icons/evil-icons-user-interface/64/like-128.png' class=button (click)='like(publication)'/>
      {{publication.likes}}
    </li>
  </ul>
  <div *ngIf="publications.length == 0">Este usuario no publico nada</div>
</div>